
.page {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
  min-height: 100vh;
  background-color: white;
  color: #201E20;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2rem;
}

/*Main Content*/
.main {
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
}

.phoneNumberContainer {
  display: flex;
  flex-direction: column;
  flex: .5;
}

.numbersOnly {
  margin-top: 0.5rem;
  text-align: center;
}

.logInError {
  color: red;
  font-weight: bold;
}

.inputfield {
  display: block;
  margin-top: .5rem;
  padding: .5rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.label {
  font-weight: bold;
  color: #000046;
}

.CTAMessage {
  color: #1CB5E0;
  flex: .2;
}

.emotionalMessage {
  color: #000046;
  font-style: italic;
  flex: 1;
  letter-spacing: .5px;
}

.loginInstructions {
  text-align: center;
  margin-top: .5rem;
  font-size: .8rem;
}

.entryButton, .accountButton {
  width: 75%;
  align-self: center;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border: 2px solid #527992;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  margin-top: 1.5rem;
  touch-action: manipulation;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #1CB5E0;
}

.entryButton:hover {
  opacity: .65;
}

.entryButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.entryButton:disabled {
  color: white;
  background-color: #527992;
  box-shadow: rgba(0,0,0,0) 0 8px 15px;
  background: linear-gradient(45deg, black, lightgray);
  border: black
}

.entryButton:hover:disabled {
  opacity: .8;
}


.entryButtonBorder {
  padding-bottom: 0.75rem;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #000046;
}

.accountButton {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  border: 1px solid #8f94fb;  
  width: 180px;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
}


@media screen and (max-height: 650px) {
  .accountButton {
    margin-bottom: 0;
  }
  .emotionalMessage {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .emotionalMessage {
    max-width: 400px;
  }
}
