.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.elderName {
  font-weight: bold;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entryButton {
  width: 50%;
  align-self: center;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.entryButtonImageStyle {
  height: 1rem;
  width: 1rem;
}

.entryButtonMessage {
  font-size: 14px;
}