.page {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
    min-height: 100vh;
    background-color: white;
    color: #201E20;
}


/*Main content*/


@media screen and (min-width: 600px) {
    .main {
    min-width: 600px;
    margin: 0 auto;
    }
}

.section {
    margin-bottom: 1.25rem;
}

.inputfield {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid black;
}

.label {
    font-weight: bold;
}

.informationText {
    color: gray;
    font-size: .9rem;
}

.errorMessage {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.firstReminder {
    margin-bottom: .5rem;
}

.specialInstruction {
    color: #000046;
}

/*Essential Tasks*/
.tasksTitle {
    margin-bottom: .5rem;
}

.tasksTime {
    color: #1CB5E0;
    margin-top: 1.25rem;
}

.inputContainer {
    display: flex;
    gap:1rem;
    align-items: center;
}

.taskStyles {
    margin-bottom: 0.25rem;
    font-size: .9rem;
    margin-left: 3.8rem;
}

.buttonImage {
    border: none;
    background-color: transparent;
}

/*Done Button*/
.entryButton {
    min-width: 150px;
    margin-top: .5rem;    
    font-size: 1rem;
    margin: auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1. 0.32,1);
    -webkit-user-select: none;
    touch-action: manipulation;
    color: white;
}

.entryButton:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.doneButtonStyle {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid #527992;
    margin-bottom: 1rem;
}

.goBackButonSyle {
    background: rgb(175,70,0);
    background: -moz-linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    background: linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af4600",endColorstr="#cf2e15",GradientType=1);

    border: 2px solid rgba(175,70,0,1);
}

.goBackButonSyle {
    background: rgb(175,70,0);
    background: -moz-linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    background: linear-gradient(90deg, rgba(175,70,0,0.5691526610644257) 0%, rgba(207,46,21,0.9024859943977591) 30%, rgba(207,46,21,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af4600",endColorstr="#cf2e15",GradientType=1);
    min-width: 150px;
    border: 2px solid rgba(175,70,0,1);
    font-size: medium;
    padding: .25rem;
    margin-bottom: 1rem;
  }

.doneButtonContainer {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: 1.5rem 0;
}

.medicationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
}

.plusSignError {
    font-size: .8rem;
    color: red;
    font-weight: bold;
    margin-left: 2.8rem;
}

.redAsterisk {
    color: red;
}

