/*
* #6697B6 Light Sky Blue
* #527992 Medium Sky Blue
*/


.page {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    min-height: 100vh;
    background-color: white;
    color: #201E20;
  }
  
  /* Header Styles */

  
  @media screen and (min-width: 600px) {
    .navbar {
      justify-content: center;
      gap:25rem;
    }
  }
  
  .entryContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .entryButton {
    width: 50%;
    align-self: center;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border: 2px solid #527992;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1. 0.32,1);
    -webkit-user-select: none;
    margin-bottom: 0.5rem;
    touch-action: manipulation;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .entryButton:hover {
    color: white;
    background-color: #527992;
    box-shadow: rgba(0,0,0,0) 0 8px 15px;
    background: linear-gradient(45deg, black, lightgray);
  }
  
  .entryButton:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .entryButtonImageStyle {
    height: 1rem;
    width: 1rem;
  }
  
  .entryButtonMessage {
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
  
  @media screen and (min-width: 600px) {
    .entryButton {
      align-self: flex-start;
      width: 20%;
      max-width: 175px;
      min-width: 150px;
      margin: auto;
    }
  
    .entryContainer {
      align-items: center;
    }
  }
  
  /*Content Styles*/
  .main {
    display: flex;
    flex-direction: column;
  }
  
  .contentTitleContainer {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contentTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration-color: #527992;
    list-style: none;
  }
  
  .contentTitle:hover {
    color: #1CB5E0;
    cursor: pointer;
  }
  
  .content {
    height: 50vh;
    overflow-y: auto;
    overflow: scroll;
    scrollbar-color: black; /*Works on firefox*/
  }

  @media screen and (min-height: 700px) {
    .content {
      height: 65vh;
    }
  }
  
  /*Works on Chrome, Edge, and Safari*/
  .content::-webkit-scrollbar {
    width: 10px;
  }
  
  /*Works on Chrome, Edge, and Safari*/
  .content::-webkit-scrollbar-thumb {
    background-color: #527992;
  }

  .interactions {
    display: flex;
    margin-bottom: 0.75rem;
    gap: 0.3rem;
  }
  
  .labelColumn {
    margin: .3rem 0;
    padding:.5rem;
  }

  .interactionColor {
    background-color: #527992;
  }

  .appointmentColor {
    background-color: #13EDA4;
  }

  .labelText {
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .medicationColor {
    background-color: #E07D1D;
  }

  .interactionContent {
    flex: 1;
  }
  
  .interactionDate {
    font-weight: bold;
  }
  
  .interactions > p {
    margin: .5rem 0;
  }
  
  .interactions h1 {
    border: 1px solid #527992;
    width: 100%;
    margin: auto;
    opacity: .4;
    margin-top: 0.5rem;
  }
  
  .writerName {
    font-style: italic;
  }
  
  .titleFormatting::before {
    content: "\a";
    white-space: pre;
  }
  
  @media screen and (min-width: 600px) {  
    .interactions h1 {
      width: 80%;
    }

    .content {
      min-width: 600px;
      margin: 0 auto;
    }
  
    .contentTitleContainer {
      justify-content: center;
      gap: 15rem;
    }
  }
  
  .taskHeader, .medsHeader {
    font-weight: bold;
    color: #1CB5E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .medsHeader {
    margin-bottom: 0.5rem;
  }
  
  .tasks, .meds, .medsNote {
    padding-left: 1rem;
    margin-bottom: .5rem;
  }
  
  .tasks::before {
    content:"❤";
    margin-right: .5rem;
    color: #B85042;
  }

  .meds::before {
    content:"💊" ;
    margin-right: .5rem;
    color: #B85042;
  }
  
  .mobileMedicationDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  @media screen and (max-width: 700px) {
    .mobileMedicationDisplay {
        flex-direction: column;
        align-items: start;
    }

    .meds {
      padding-left: none;
    }
  }

  .medTitle {
    font-weight: bold;
  }

  .nowrap {
    white-space: nowrap;
  }

  .cheveonStyle {
    margin-left: 5px;
    vertical-align: bottom;
  }

  .editIconStyle {
    align-self: center;
    margin-right: 1rem;
  }

  .editButtonContainer {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.2rem;
  }

  .expand {
    font-weight: normal;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .essentials {
    margin-bottom: 1rem;
  }
  
  .highlight {
    color: #1CB5E0;
    text-decoration-color: #1CB5E0;
  }

  .essentialTasksButtonStyle {
    @media screen and (max-height: 700px) {
      width: 60%;
    }
  }